<!-- registration/password_reset_form.html -->
{% extends 'base.html' %}

{% block style %}
<style>
h1{
    font-size: 25px;
line-height: 24px;
    font-weight: bold;
padding: 18px 16px 5px 18px;
}

body{
    background-color: #E9EBEE;
}

form p{
    font-size: 16px;
}

input:focus{
    box-shadow: none;
}

.content{
    background-color: white;
    max-width:500px;
    margin-left: auto;
    margin-right: auto;
    margin-top:50px;
    margin-bottom:50px;
    border-radius: 8px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .1), 0 2px 4px rgba(0, 0, 0, .1);
}

.contentInside {
    padding: 18px 16px 8px 18px;
}

.btnDiv{
    width:200px;
}

.sendMailBtn{
    border: none;
    border-radius: 6px;
    font-size: 15px;
    line-height: 36px;
    margin:10px;
    background-color: #FE2C55;
    color:white;
    width:200px;
    font-weight: bold;
}

</style>
{% endblock %}

{% block body %}
<div class="content">
    <h1>Nulstil din adgangskode</h1>
    <hr>
    <div class="contentInside">
        <form method="post">
            {% csrf_token %}
            <p>Har du glemt din adgangskode, så skriv din emailadresse, og vi sender dig en mail, hvor du har mulighed for at ændre dit kodeord.</p>

            <label for="id_email">E-mail:</label>
            <input type="email" name="email" autocomplete="email"
                   maxlength="254" required="" placeholder="Din e-mail adresse" class="form-control" id="id_email">
            <hr>
            <div class="btnDiv mx-auto">
                <button type="submit" class="btn-default sendMailBtn">Send mmail</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
