{% extends 'base.html' %}

{% block style %}
<style>
.container{
    width: 500px;
    height: 100%;
    margin-top:20px;
    margin-bottom:100px;
    margin-left: auto;
    margin-right: auto;
}

h1{
    font-weight: bold;
}

h2{
    font-size:20px;
    margin-top:20px;
}

.title{
    font-size:14px;
    font-weight:bold;
}
p{
    margin:0px;
    padding:0px;
}
</style>
{% endblock %}

{% block body %} 
<h1>Opdateringer</h1>

<h2>Version 1 - 01/07/2023</h2>
<p>- Boligerne.dk går live</p>
<ul>
    <li>Minimum viable product</li>
</ul>

{% endblock %}
