{% extends 'base.html' %}

{% block style %}
<style>

body{
    background-color: #FBFAFA;
}
h1{
    margin-top:20px;
    font-weight:bold;
}

.container{
    background-color: white;
    box-shadow: 0 0 1px rgba(34, 25, 25, 0.4);
    padding:10px 40px;
    max-width:800px;
}

a{
    text-decoration-line: none;
}

.table-of-contents {
    border: 1px solid #e1e1e1;
    border-radius: 4px;
    padding: 10px;
    background-color: #f8f8f8;
    margin-top: 20px;
    margin-bottom: 50px;
}

.table-of-contents .nav-link {
    color: #333;
    font-weight: 500;
    font-size:15px;
    padding: 8px 16px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.table-of-contents .nav-link:hover {
    background-color: #e1e1e1;
    color: #333;
}

.table-of-contents .nav-link.active {
    background-color: #333;
    color: #fff;
}

</style>
{% endblock %}

{% block body %}
<h1>Cookie- og privatlivspolitik🍪</h1>

        <nav class="table-of-contents">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link" href="#introduktion">Introduktion</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#personoplysninger">Personoplysninger</a>
            </li>
        </ul>
    </nav>

    <h4 id="introduktion">Introduktion</h4>
<p>
Når du besøger vores website indsamles der oplysninger om dig, som bruges til at tilpasse og forbedre vores indhold og til at øge værdien af de annoncer, der vises på siden. Hvis du ikke ønsker, at der indsamles oplysninger, bør du slette dine cookies (<a href="http://minecookies.org/cookiehandtering" target="_blank">se vejledning</a>) og undlade videre brug af websitet. Nedenfor har vi uddybet, hvilke informationer der indsamles, deres formål og hvilke tredjeparter, der har adgang til dem.</p>
<p><strong>Cookies</strong><br>
Websitet anvender "cookies", der er en tekstfil, som gemmes på din computer, mobil el. tilsvarende med det formål at genkende den, huske indstillinger, udføre statistik og målrette annoncer. Cookies kan ikke indeholde skadelig kode som f.eks. virus.</p>
<p>Det er muligt at slette eller blokere for cookies. Se vejledning: <a href="http://minecookies.org/cookiehandtering" target="_blank">http://minecookies.org/cookiehandtering</a></p>
<p>Hvis du sletter eller blokerer cookies vil annoncer kunne blive mindre relevante for dig og optræde hyppigere. Du kan desuden risikere at websitet ikke fungerer optimalt samt at der er indhold, du ikke kan få adgang til.</p>
<p class="tredjepart" style="display:none">Websitet indeholder cookies fra tredjeparter, der i varierende omfang kan omfatte:</p>
<ul id="tredjeparts_liste" class="tredjepart" style="display:none"></ul>
<br/>
<h4 id="personoplysninger">Personoplysninger</h4>
<p><strong>Generelt</strong><br>
Personoplysninger er alle slags informationer, der i et eller andet omfang kan henføres til dig. Når du benytter vores website indsamler og behandler vi en række sådanne informationer. Det sker f.eks. ved alm. tilgang af indhold, hvis du tilmelder dig vores nyhedsbrev, deltager i konkurrencer eller undersøgelser, registrerer dig som bruger eller abonnent, øvrig brug af services eller foretager køb via websitet.</p>
<p>Vi indsamler og behandler typisk følgende typer af oplysninger: Et unikt ID og tekniske oplysninger om din computer, tablet eller mobiltelefon, dit IP-nummer, geografisk placering, samt hvilke sider du klikker på (interesser). I det omfang du selv giver eksplicit samtykke hertil og selv indtaster informationerne behandles desuden: Navn, telefonnummer, e-mail, adresse og betalingsoplysninger. Det vil typisk være i forbindelse med oprettelse af login eller ved køb.</p>
<p><strong>Sikkerhed</strong><br>
Vi behandler dine personoplysninger sikkert og fortroligt i overensstemmelse med gældende lovgivning, herunder persondataforordningen og databeskyttelsesloven.<br/>
Dine oplysninger vil alene blive anvendt til det formål, de er indsamlet til, og vil blive slettet, når dette formål er opfyldt eller ikke længere relevant.<br/>
Vi har truffet tekniske og organisatoriske foranstaltninger mod, at dine oplysninger hændeligt eller ulovligt bliver slettet, offentliggjort, fortabt, forringet eller kommer til uvedkommendes kendskab, misbruges eller i øvrigt behandles i strid med lovgivningen.</p>
<p><strong>Formål</strong><br>
Oplysningerne bruges til at identificere dig som bruger og vise dig de annoncer, som vil have størst sandsynlighed for at være relevante for dig, at registrere dine køb og betalinger, samt at kunne levere de services, du har efterspurgt, som f.eks. at fremsende et nyhedsbrev. Herudover anvender vi oplysningerne til at optimere vores services og indhold.</p>
<p><strong>Periode for opbevaring</strong><br>
Oplysningerne opbevares i det tidsrum, der er tilladt i henhold til lovgivningen, og vi sletter dem, når de ikke længere er nødvendige. Perioden afhænger af karakteren af oplysningen og baggrunden for opbevaring. Det er derfor ikke muligt at angive en generel tidsramme for, hvornår informationer slettes.</p>
<p><strong>Videregivelse af oplysninger</strong><br>
Data om din brug af websitet, hvilke annoncer, du modtager og evt. klikker på, geografisk placering, køn og alderssegment m.v. videregives til tredjeparter i det omfang disse oplysninger er kendt. Du kan se hvilke tredjeparter, der er tale om, i afsnittet om "Cookies" ovenfor. Oplysningerne anvendes til målretning af annoncering.</p>
<p>Vi benytter herudover en række tredjeparter til opbevaring og behandling af data. Disse behandler udelukkende oplysninger på vores vegne og må ikke anvende dem til egne formål.</p>
<p>Videregivelse af personoplysninger som navn og e-mail m.v. vil kun ske, hvis du giver samtykke til det. Vi anvender kun databehandlere i EU eller i lande, der kan give dine oplysninger en tilstrækkelig beskyttelse.</p>
<p><strong>Indsigt og klager</strong><br>
Du har ret til at få oplyst, hvilke personoplysninger, vi behandler om dig i et almindeligt format (dataportabilitet). Du kan desuden til enhver tid gøre indsigelse mod, at oplysninger anvendes. Du kan også tilbagekalde dit samtykke til, at der bliver behandlet oplysninger om dig. Hvis de oplysninger, der behandles om dig, er forkerte har du ret til at de bliver rettet eller slettet. Henvendelse herom kan ske til: <span class="email"><em><span class="__eae_r13">support@boligerne.dk</span> &nbsp;</em></span>. Hvis du vil klage over vores behandling af dine personoplysninger, har du også mulighed for at tage kontakt til <a href="http://www.datatilsynet.dk" target="_blank">Datatilsynet</a>. <br/>Ønsker du ikke længere, at vi skal behandle dine personoplysninger, eller at vi skal begrænse behandlingen af dine personoplysninger, kan du også sende os en anmodning herom til ovennævnte e-mailadresse.</p>
<p><strong>Udgiver</strong><br>
Websitet ejes og publiceres af:</p>
<p><em><a href="" target="_blank">Virksomhedsnavn</a></em><br>
<span class="vejnavn"><em>Virksomheden har kontor på Cphbusiness's lokaler i Lyngby</em></span><br>
<span class="postnummer"><em>2800 Kongens Lyngby</em></span><br>

Email: <span class="email"><em><span>support@boligerne.dk</span></em></span></p>
<p>&nbsp;</p>

{% endblock %}